body {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
  }
  
  .topo {
    text-indent: 50px;
    background-color: #b742ed;
    margin: -10px;
    margin-top: -20px;
    text-align: left;
    line-height: 1;
    color: aliceblue;
  }
  
  .idioma {
    color: white;
    table-layout: auto;
  }
  
  .titulos {
    margin-top: 10px;
    text-align: center;
    color: #cccccc;
  }

  .curriculo {
    color: white;
    table-layout: auto;
  }

  table{
    border-style: dotted dashed solid double;
    width: 100%;
    text-align: center;
    table-layout: auto;
    line-height: 40px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #14253586;
  }

.cursos{
 display: grid;
 grid-template-columns: 1fr 1fr;

}

.edc {
    margin-top: 10px;
    text-align: center;
    color: #cccccc;
    line-height: 150%;
    margin-bottom: 2%;
  }
